*
!.gitignore
!README.md
!favicon.gif
!favicon.ico

*.log
!wp-content/
wp-content/*
!wp-content/plugins/
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/mobius-child/
!db/

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
